<h1>Agregar Nuevos Ejemplares<h1>
    <form action="#" method="post">
        <div class="form-group">
            <label for="nombre">Titulo</label>
            <input type="text" name="nombre" maxlength="100" placeholder="Ingrese Titulo">

            <label for="autor">Autor</label>
            <input type="text" name="autor" maxlength="100" placeholder="Ingrese Autor">

            <label for="genero">Genero</label>
            <input type="text" name="genero" maxlength="100" placeholder="Ingrese Genero">

            <label for="precio">Precio</label>
            <input type="number" name="precio" maxlength="100" placeholder="Ingrese Precio">

            <button type="submit">Crear</button>

        </div>    

    </form>    