<head>
    <title>EMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <h1 class="h3 mb-2 text-gray-800">Administrador de Productos</h1>
    </nav>
    <!-- End of Topbar -->
    <div class="container-fluid">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Suministros de Computo!</h1>
                                </div>
                                 <form class="user" action="/" method="POST">
                                     <input id="id" name="id" value="{{producto.id}}" type="hidden"
                                           class="form-control input-md">

                                     <div class="form-group">
                                         <label class="col-md-4 control-label" for="name">Nombre</label>
                                         <div class="col-md-4">
                                             <input id="nombre" name="nombre" type="text" placeholder="Nombre" value="{{producto.name}}" class="form-control input-md">
                                         </div>
                                     </div>

                                     <div class="form-group">
                                         <label class="col-md-4 control-label" for="precio">Precio</label>
                                         <div class="col-md-4">
                                             <input id="precio" name="precio" type="text" placeholder="Precio" value="{{producto.precio}}" class="form-control input-md">
                                         </div>
                                     </div>

                                      <div class="form-group">
                                         <label class="col-md-4 control-label" for="proveedor">Proveedor</label>
                                         <div class="col-md-4">
                                             <input id="proveedor" name="proveedor" type="text" placeholder="Proveedor" value="{{producto.proveedor}}" class="form-control input-md">
                                         </div>
                                     </div>

                                       <div class="form-group">
                                         <label class="col-md-4 control-label" for="stock">Stock</label>
                                         <div class="col-md-4">
                                             <input id="stock" name="stock" type="text" placeholder="Stock" value="{{producto.stock}}" class="form-control input-md">
                                         </div>
                                     </div>

                                       <div class="form-group">
                                         <label class="col-md-4 control-label" for="estado">Estado</label>
                                         <div class="col-md-4">
                                             <input id="estado" name="estado" type="text" placeholder="Estado" value="{{producto.estado}}" class="form-control input-md">
                                         </div>
                                     </div>

                                     <div class="form-group">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Grabar
                                            </button>
                                        </div>
                                    </div>
                                 </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Detalles del producto</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>PRECIO</th>
                            <th>PROVEEDOR</th>
                            <th>STOCK</th>
                            <th>ESTADO</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{producto.id}}</td>
                            <td>{{producto.name}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.proveedor}}</td>
                            <td>{{producto.stock}}</td>
                            <td>{{producto.estado}}</td>
                            <td>
                                <a href="/{{producto.id}}">Modificar</a>
                                <a href="delete/{{producto.id}}">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                </div>
            </div>
        </div>

    </div>

</div>
</body>

